# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
.eggs/

# Jupyter Notebooks
.ipynb_checkpoints/

# C++
*.o
*.out
*.exe
*.dll
*.so

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Claves y secretos (nunca subir!)
*.key
*.pem
*.p12
*.pfx
secrets.txt
.env
